.logo,
.main-nav,
.main-nav a {
    color: #fff
}

.list-cate,
.main-nav,
body,
html,
img {
    width: 100%
}

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative; box-sizing: border-box;
}
body{ margin-top: 50px; }
.header {
    min-height: 100%;
    background: url(../images/6.jpg) center center no-repeat;
    background-size: cover; box-sizing: border-box; position: relative;
}

.main-nav {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background: red;
    padding: 15px;
    height: 50px; box-sizing: border-box;
}

.logo {
    float: left;
    font-weight: 700;
    text-transform: uppercase
}

.menu-item {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    background: #333;
    box-shadow: 0 0 1px #ccc;
    min-width: 250px;
    margin-top: 8px;
    padding: 10px
}

.art-news>a,
.outer-menu:hover .menu-item {
    display: block
}

.btn-menu {
    float: right;
    font-size: 17px
}

.outer-menu {
    position: relative;
    float: right
}

.list-cate {
    background: #ccc;
    padding: 15px;
    overflow-x: auto
}

.list-cate ul {
    width: 800px;
    margin-bottom: 0
}

.list-cate li {
    float: left
}

.list-cate li a {
    color: #333;
    padding: 0 4px
}

.art-news {
    margin-bottom: 20px
}

.art-news .detail {
    padding: 10px
}

.art-news .detail h3 {
    color: #333;
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 5px
}

.art-news .detail h3 a {
    color: #333
}

.list-date {
    color: #999;
    font-size: 12px;
    margin-bottom: 5px
}

.footer {
    padding: 15px;
    background: red;
    color: #fff;
    text-align: center
}

.block-ctn {
    padding: 0 15px;
}