html, body { padding: 0; margin: 0; height: 100%; width: 100%; position: relative; }
img { width:  100%; }
.header { min-height: 100%; background: url(../images/6.jpg) center center no-repeat; background-size: cover;}
.main-nav { position: fixed; top: 0; left: 0; width: 100%; background: red; color: #fff; padding: 15px; height: 50px; }
.main-nav a { color: #fff; }
.logo { color: #fff; float: left; font-weight: bold; text-transform: uppercase; }
.menu-item{display: none;position: absolute;right: 0;top: 100%;list-style: none;padding: 0;background: #333;box-shadow: 0 0 1px #ccc;min-width: 250px;margin-top: 8px;padding: 10px;}
.btn-menu {float: right;font-size: 17px;}
.outer-menu { position: relative; float: right; }
.outer-menu:hover .menu-item { display: block; }
.list-cate { background: #ccc;padding: 15px; width: 100%; overflow-x: auto;}
.list-cate ul { width: 800px; margin-bottom: 0;}
.list-cate li { float: left; }
.list-cate li a { color: #333; padding: 0 4px; }
.art-news  { margin-bottom: 20px; }
.art-news > a { display: block; }
.art-news .detail { padding: 10px; }
.art-news .detail h3 { color: #333; margin-top: 0; font-size: 18px; margin-bottom: 5px; }
.art-news .detail h3 a { color: #333; }
.list-date { color: #999; font-size: 12px; margin-bottom: 5px; }
.footer { padding: 15px; background: red; color: #fff; text-align: center; }

.block-ctn { padding: 0 15px; }